<nav class="fixed top-0 z-50 w-full bg-white border-b border-devilish-200">
  <div class="p-3 lg:px-5 lg:pl-3">
    <div class="flex items-center justify-between">
      <div class="flex items-center justify-start">
        <button   data-drawer-target="logo-sidebar" data-drawer-toggle="logo-sidebar" aria-controls="logo-sidebar" type="button" class="inline-flex items-center p-2 text-sm text-devilish-500 rounded-lg sm:hidden hover:bg-dark-soul-100 focus:outline-none focus:ring-2 focus:ring-devilish-200">
            <span class="sr-only">Open sidebar</span>
            <svg class="w-6 h-6" aria-hidden="true" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
               <path clip-rule="evenodd" fill-rule="evenodd" d="M2 4.75A.75.75 0 012.75 4h14.5a.75.75 0 010 1.5H2.75A.75.75 0 012 4.75zm0 10.5a.75.75 0 01.75-.75h7.5a.75.75 0 010 1.5h-7.5a.75.75 0 01-.75-.75zM2 10a.75.75 0 01.75-.75h14.5a.75.75 0 010 1.5H2.75A.75.75 0 012 10z"></path>
            </svg>
         </button>
        <a routerlink="/" class="cursor-pointer flex ms-2 md:me-24">
          <img src="assets/svg/logo.svg" class="h-8 me-3" alt="FlowBite Logo" />
          <span class="self-center text-xl font-semibold sm:text-2xl whitespace-nowrap">AfriCuisine</span>
        </a>
      </div>
      <div class="flex items-center">
          <div class="flex items-center ms-3">
            <div>
              <button type="button" class="flex text-sm bg-devilish-500 rounded-full focus:ring-4 focus:ring-dark-soul-500" aria-expanded="false" data-dropdown-toggle="dropdown-user">
                <span class="sr-only">Open user menu</span>
                <img class="w-8 h-8 rounded-full" src="assets\uploads\users\profile-picture.jpg" alt="user photo">
              </button>
            </div>
            <div class="z-50 hidden my-4 text-base list-none bg-white divide-y divide-dark-soul-100 rounded shadow" id="dropdown-user">
              <div class="px-4 py-3" role="none">
                <p class="text-sm text-dark-soul-900 " role="none">
                  {{user.name}}
                </p>
                <p class="text-sm font-medium text-dark-soul-900 truncate" role="none">
                  neil.sims@flowbite.com
                </p>
              </div>
              <ul class="py-1" role="none">

                <li>
                  <a [routerLink]="['edit-profile']" class=" cursor-pointer block px-4 py-2 text-sm text-dark-soul-700 hover:bg-dark-soul-100" role="menuitem">Edit Profile</a>
                </li>
                <li>
                  <a [routerLink]="['logout']" class=" cursor-pointer block px-4 py-2 text-sm text-dark-soul-700 hover:bg-dark-soul-100 " role="menuitem">Sign out</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
    </div>
  </div>
</nav>
