<form class="space-y-4" [formGroup]="form"  (submit)="onSubmit()" novalidate>
  <div>
     <label for="username" class="africuisine-label">Email:</label>
     <input [ngClass]="{'border-devilish-500' : processed && form.controls['username'].errors}" type="email" id="username" placeholder="john.doe@email.com" formControlName="username"
       class="africuisine-form-control"/>
       <p class="mt-2 text-sm text-devilish-500" *ngIf="form.controls['username'].errors && processed">Enter valid email address</p>
  </div>
  <div>
    <label for="password" class="africuisine-label">Password:</label>
    <input  type="password" [ngClass]="{'border-devilish-500': processed && form.controls['password'].errors}" id="password" placeholder="••••••••" formControlName="password"
      class="africuisine-form-control"/>
      <p class="mt-2 text-sm text-devilish-500" *ngIf="form.controls['password'].errors && processed">Enter valid password</p>
 </div>
 <div class="flex justify-end">
  <a class="text-sm text-devilish-500 font-bold hover:text-base hover:animate-pulse hover:duration-75" [routerLink]="['reset-password']">Forgot password?</a>
 </div>
 <button type="submit" class="w-full bg-devilish-500 text-white text-center font-semibold px-5 py-2.5 hover:bg-devilish-800 focus:outline focus:ring-4
  focus:ring-devilish-400 ">Login to your account</button>
</form>
