<div class="w-full p-6 sm:p-8">
  <h2 class="mb-3 text-2xl font-bold text-devilish-500">
    Update your password
  </h2>
  <p class="text-base font-normal text-gray-500 dark:text-gray-400">
    You can now set your new password.
  </p>
  <form class="mt-8 space-y-6" [formGroup]="resetPasswordForm" (click)="onSubmit()">
    <ng-container *ngIf="processed">
      <Success-Alert *ngIf="response.succeeded" [message]="response.message!" />
      <Error-Alert *ngIf="!response.succeeded" [message]="response.message!" />
    </ng-container>
    <div>
      <label for="username" class="block mb-2 text-sm font-medium text-gray-900">Your username</label>
      <input type="email" formControlName="username" id="username" class="form-control" placeholder="username@africuisine.app">
      <ng-container  *ngIf="resetPasswordForm.controls['username'].errors && resetPasswordForm.controls['username'].touched">
        <p class="mt-2 text-sm text-red-600" *ngIf="resetPasswordForm.get('username')?.hasError('required')">Email address is required</p>
        <p class="mt-2 text-sm text-red-600" *ngIf="resetPasswordForm.get('username')?.hasError('email')">Enter a valid email.</p>
      </ng-container>
    </div>
    <div>
      <label for="password" class="block mb-2 text-sm font-medium text-gray-900">Password</label>
      <input type="password" id="password" formControlName="password" class="form-control" placeholder="••••••••" [minlength]="8">
      <ng-container  *ngIf="resetPasswordForm.controls['password'].errors && resetPasswordForm.controls['password'].touched">
        <p class="mt-2 text-sm text-red-600" *ngIf="resetPasswordForm.get('password')?.hasError('required')">Password is required</p>
        <p class="mt-2 text-sm text-red-600" *ngIf="resetPasswordForm.get('password')?.hasError('minLength')">Password should have more than 8 characters</p>
      </ng-container>
    </div>
    <div>
      <label for="confirmPassword" class="block mb-2 text-sm font-medium text-gray-900">Confirm Password</label>
      <input type="password" id="confirmPassword" formControlName="confirmPassword" class="form-control" [minlength]="8"
        placeholder="••••••••">
        <ng-container  *ngIf="resetPasswordForm.controls['password'].errors && resetPasswordForm.controls['password'].touched">
          <p class="mt-2 text-sm text-red-600" *ngIf="resetPasswordForm.get('password')?.hasError('required')">Password is required</p>
          <p class="mt-2 text-sm text-red-600" *ngIf="resetPasswordForm.get('password')?.hasError('minLength')">Password should have more than 8 characters</p>
          <p class="mt-2 text-sm text-red-600" *ngIf="resetPasswordForm.get('password')?.hasError('passwordMismatch')">Password does not match</p>
        </ng-container>
    </div>
    <button type="submit"
      class="w-full px-5 py-3 text-base font-medium text-center text-white rounded-lg bg-dark-soul-700 hover:bg-dark-soul-800 focus:ring-4 focus:ring-dark-soul-300 sm:w-auto">Update Password</button>
  </form>
</div>
