<nav class="fixed top-0 z-50 w-full bg-white border-b border-dark-soul-200">
  <div class="px-3 py-3 lg:px-5 lg:pl-3">
    <div class="flex items-center justify-between">
      <div class="flex items-center justify-start rtl:justify-end">
        <button data-drawer-target="logo-sidebar" data-drawer-toggle="logo-sidebar" aria-controls="logo-sidebar"
          type="button"
          class="inline-flex items-center p-2 text-sm text-dark-soul-500 rounded-lg sm:hidden hover:bg-dark-soul-100 focus:outline-none focus:ring-2 focus:ring-dark-soul-200 dark:text-dark-soul-400 dark:hover:bg-dark-soul-700 dark:focus:ring-dark-soul-600">
          <span class="sr-only">Open sidebar</span>
          <svg class="w-6 h-6" aria-hidden="true" fill="currentColor" viewBox="0 0 20 20"
            xmlns="http://www.w3.org/2000/svg">
            <path clip-rule="evenodd" fill-rule="evenodd"
              d="M2 4.75A.75.75 0 012.75 4h14.5a.75.75 0 010 1.5H2.75A.75.75 0 012 4.75zm0 10.5a.75.75 0 01.75-.75h7.5a.75.75 0 010 1.5h-7.5a.75.75 0 01-.75-.75zM2 10a.75.75 0 01.75-.75h14.5a.75.75 0 010 1.5H2.75A.75.75 0 012 10z">
            </path>
          </svg>
        </button>
        <a [routerLink]="['dashboard']" class="flex ms-2 md:me-24">
          <img src="assets/svg/logo.svg" class="h-8 me-3" alt="FlowBite Logo" />
          <span
            class="self-center text-xl font-semibold sm:text-2xl whitespace-nowrap dark:text-white">Africuisine</span>
        </a>
      </div>
      <div class="flex items-center">
        <div class="flex items-center ms-3">
          <div>
            <button type="button"
              class="flex text-sm bg-dark-soul-800 rounded-full focus:ring-4 focus:ring-dark-soul-300 dark:focus:ring-dark-soul-600"
              aria-expanded="false" data-dropdown-toggle="dropdown-user">
              <span class="sr-only">Open user menu</span>
              <img class="w-8 h-8 rounded-full" src="{{user.picture}}"
                alt="user photo">
            </button>
          </div>
          <div
            class="z-50 hidden my-4 text-base list-none bg-white divide-y divide-dark-soul-100 rounded shadow dark:bg-dark-soul-700 dark:divide-dark-soul-600"
            id="dropdown-user">
            <div class="px-4 py-3" role="none">
              <p class="text-sm text-dark-soul-900 dark:text-white" role="none">
                {{user.name}}
              </p>
              <p class="text-sm font-medium text-dark-soul-900 truncate dark:text-dark-soul-300" role="none">
                {{user.email}}
              </p>
            </div>
            <ul class="py-1" role="none">
              <li>
                <a [routerLink]="['/users/edit-profile']"
                  class="block cursor-pointer px-4 py-2 text-sm text-dark-soul-700 hover:bg-dark-soul-100 dark:text-dark-soul-300 dark:hover:bg-dark-soul-600 dark:hover:text-white"
                  role="menuitem">Edit Profile</a>
              </li>
              <li>
                <a (click)="logOut()"
                  class="block cursor-pointer px-4 py-2 text-sm text-dark-soul-700 hover:bg-dark-soul-100 dark:text-dark-soul-300 dark:hover:bg-dark-soul-600 dark:hover:text-white"
                  role="menuitem">Sign out</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</nav>
